* {
    padding: 0; 
    margin: 0;
}
body {
    background: #ddd;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 15px;
    text-align: center;
}
.profil {
    margin-bottom: 20px;
    background: rgb(199, 95, 95);
    padding: 20px;
    border-radius: 15px;
}
.profil img {
    width: 250px;
    border-radius: 50%;
    border: 3px solid black;
}
.profil h3 {
    margin-bottom: 15px;
}
a {
    text-decoration: none;
    color: white;
    background: red;
    padding: 4px 7px;
    border-radius: 4px;
    border: 1px solid black;
}
a:hover {
    background: white;
    color: black;
}
.mapel {
    background: white;
    padding: 20px;
    border-radius: 15px;
    border: 2px solid rgb(199, 95, 95);            
}
.materi {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.kelas {
    background: rgb(199, 95, 95);
    padding: 20px;
    width: 300px;
    border-radius: 15px;
    margin-top: 10px;

}
.kelas h3 {
    margin-bottom: 20px;
}
.pajak {
    background-color: wheat;
    padding: 20px;
    border: 2px solid black;
}
.pajak img {
    margin-bottom: 20px;
    box-shadow: 0px 8px 16px 0px black;
    border-radius: 7px;
}
.pajak p {
    font-size: 17px;
}
.uh {
    background-color: rgb(245, 187, 79);
    padding: 20px;
    margin-top: 20px;
    border: 2px solid black;
}
.uh h3 {
    margin-bottom: 30px;
}

